<!-- <a routerLink="/dashboard">
  login-page works!
</a> -->

<div class="login">
  <div class="logo">
  </div>
  <p class="irocovery_txt">Welcome to iRecovery</p>
  <div class="login-form-section width80">
      <div class="form-box">
          <form [formGroup]="login_form">
             <div>
                  <input type="username" placeholder="Username" [(ngModel)]="login_data.username" name="username" formControlName="username">
              </div>
              <label style="color:red" class="err" *ngIf="(login_form.get('username').hasError('required') ) && login_form.get('username').dirty">
                  <p class="error" *ngIf="login_form.get('username').hasError('required')  && login_form.get('username').dirty">*User name is required</p>
              </label>
              <div>
                  <input type="password" placeholder="Password" name="password" [(ngModel)]="login_data.password" formControlName="password">
              </div>
              <label style="color:red" class="err" *ngIf="(login_form.get('password').hasError('required') ) && login_form.get('password').dirty">
                  <p class="error" *ngIf="login_form.get('password').hasError('required')  && login_form.get('password').dirty">*Password is required</p>
              </label>
          </form>
      </div>
    <div class="custom-checkbox remember-me">
       <div class="left-s">
          <!-- <div>
             <ion-label>Remember Me</ion-label>
             <ion-checkbox color="dark" [(ngModel)]="login_data.remember"></ion-checkbox>
          </div> -->
       </div>
       <!-- <div class="right-s">
          <a (click)= "forgetPassword()">Forgot Password?</a>
       </div> -->
    </div>
    <button class="btn-global" (click)="login_subscribe()" [disabled]="login_form.invalid" >Login With subscribe</button>
    
    <button class="btn-global" (click)="login_promise()" [disabled]="login_form.invalid" >Login with promises</button>
 </div>
    <button class="btn-global" (click)="fbLogin()">Login With facebook</button>
     <button class="btn-global" (click)="googleLogin()">Login With Google</button>
</div>

<!-- <button (onclick)="login()">
 Kuch bhi chalega
</button> -->
